.members-container {
    width: 100%;
    padding-bottom: 220rpx;
    .list {
        border-top: 2rpx solid #efefef;
        .van-cell {
            height: 144rpx;
            align-items: center;
            border-bottom: 1rpx solid #efefef;
            padding: 0 16px;
            padding-left: 50rpx;
            .van-cell__right-icon-wrap {
                color: #bebebe;
            }
        }
        ._money {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #4F9900;
        }
        ._title {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
            margin-left: 30rpx;
            view {
                &:last-child {
                    font-size: 28rpx;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.8);
                    position: relative;
                    top: -6rpx;
                }
            }
        }
    }
}