.order-container {
    width: 100%;
    .list {
        border-top: 2rpx solid #efefef;
        .cellgroup {
            .van-cell {
                height: 158rpx;
            }
        }
        .van-cell {
            height: 106rpx;
            align-items: center;
            border-bottom: 1rpx solid #efefef;
            padding: 0 16px;
            padding-left: 52rpx;
            padding-right: 58rpx;
            .van-cell__right-icon-wrap {
                color: #bebebe;
            }
            .all {
                font-size: 28rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.9);
                text:last-child {
                    font-weight: 600;
                    color: #4F9900;
                    margin-left: 12rpx;
                }
            }
            .van-cell__value {
                font-size: 28rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.9);
            }
        }
        ._money {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #4F9900!important;
        }
        ._error {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #E02020!important;
        }
        ._title {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
            view {
                &:last-child {
                    font-size: 28rpx;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.8);
                    position: relative;
                }
            }
        }
    }
    .delete {
        margin-top: 76rpx;
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #E02020;
        text-align: center;
    }
    .van-cell {
        background-color: transparent;
    }
}