._home {
  padding-bottom: 220rpx;
  .noresult {
    text-align: center;
    margin-top: 214rpx;
  }
  .noresult .play {}
  .noresult .play .van-button {
    box-shadow: 4rpx 4rpx 8rpx 0px rgba(206, 206, 206, 1), -4rpx -4rpx 8rpx 0px rgba(255, 255, 255, 1);
    width: 644rpx;
    height: 104rpx;
    background-size: 644rpx 104rpx;
    padding: 0;
    font-size: 28rpx;
    color: #6236FF;
    margin-top: 32rpx;
    background: none;
  }
  .noimg {
    width: 486rpx;
    height: 556rpx;
  }
  .main-container {
    .pposition {
      background: #FDFDFD;
      height: 38rpx;
      width: 100%;
      z-index: 60;
    }
    .topmenu {
      width: 100%;
      padding-left: 52rpx;
      font-size: 28rpx;
      background: #FDFDFD;
      box-shadow: 0px 2rpx 2rpx 0px rgba(231, 231, 231, 1);
      filter: blur(0px);
      padding-bottom: 20rpx;
      z-index: 60;
      .f1 {
        flex: 95rpx 0 0;
        margin-right: 50rpx;
      }
      .f2 {
        flex: 95rpx 0 0;
        margin-right: 40rpx;
        color: rgba(0, 0, 0, 0.5);
        van-icon {
          position: relative;
          top: 6rpx;
          margin-left: 4rpx;
        }
      }
      .f3 {
        display: inline-flex;
        van-icon {
          margin-left: 6rpx;
        }
        color:rgba(0, 0, 0, 0.5)
      }
    }
  }
  .van-tabs {
    width: 342rpx;
    height: 92rpx;
    position: absolute;
    left: 35rpx;
  }
  .van-tabs .van-tab {
    font-size: 28rpx;
    color: rgba(0, 0, 0, 0.8);
    padding: 0;
  }
  .van-tabs .van-tab--active {
    font-size: 34rpx;
    color: rgba(0, 0, 0, 1);
  }
  .van-tabs .van-tabs__scroll {
    background-color: #FDFDFD;
  }
  .van-tabs__wrap {
    width: 100%;
  }
  .nav {
    position: fixed;
    width: 750rpx;
    top: 0;
    left: 0;
    z-index: 100;
    background: #FDFDFD;
    ._tabbar {
      width: 342rpx;
      height: 92rpx;
      position: absolute;
      left: 35rpx;
      align-items: center;
      color: #bababa;
      font-size: 34rpx;
    }
    ._tabbar .flex-item {
      height: 100%;
      justify-content: center;
      font-size: 28rpx;
      display: flex;
      position: relative;
      align-items: center;
    }
    ._tabbar .flex-item.active {
      color: #000;
      font-size: 34rpx;
      /* border-bottom: 8rpx solid #6236FF; */
    }
    ._tabbar .flex-item.active::before {
      content: '';
      position: absolute;
      height: 12rpx;
      border-radius: 12rpx;
      background-color: #D9F25F;
      left: 50%;
      width: 50rpx;
      transform: translateX(-50%);
      bottom: 6rpx;
    }
  }
  .navbar {
    position: relative;
    width: 100%;
    // border-bottom: 1px solid #cecece;
  }
  .van-hairline--top-bottom {
    position: fixed !important;
    background-color: none !important;
  }
  .allCount {
    padding-left: 52rpx;
    padding-right: 30rpx;
    padding-bottom: 62rpx;
    margin-top: 54rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-size: 24rpx;
    .atips {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.3);
    }
    .flex {
      align-items: center;
      .flex-item:first-child {
        font-size: 80rpx;
        font-family: DIN-Bold, DIN;
        font-weight: bold;
        color: #000000;
      }
      .flex-item:last-child {
        display: flex;
        justify-content: flex-end;
        .look {
          width: 200rpx;
          height: 60rpx;
          background: #D9F25F;
          border-radius: 30rpx;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          color: #000000;
          .van-icon {
            margin-right: 12rpx;
          }
        }
      }
    }
  }
  .list {
    border-top: 2rpx solid #efefef;
    .xtitle {
      padding-left: 52rpx;
      padding-top: 62rpx;
      font-size: 24rpx;
      font-family: SFCompactDisplay-Regular, SFCompactDisplay;
      font-weight: 400;
      color: #4F9900;
      &.x2 {
        padding-top: 76rpx;
      }
      .flex {
        align-items: center;
        .van-icon {
          margin-right: 10rpx;
        }
        .fresh {
          display: flex;
          align-items: center;
        }
      }
      text {
        font-size: 28rpx;
        color: rgba(0, 0, 0, 0.9);
        margin-right: 26rpx;
      }
    }
    .van-cell {
      height: 144rpx;
      align-items: center;
      border-bottom: 1rpx solid #efefef;
      padding: 0 16px;
      padding-left: 50rpx;
      .van-cell__right-icon-wrap {
        color: #bebebe;
      }
      .newValue {
        font-size: 28rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);
        text {
          display: flex;
          flex-direction: column;
          text-align: right;
          &:first-child {
            color: #4F9900;
          }
          &:last-child {
            font-size: 24rpx;
            color: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }
    ._money {
      font-size: 28rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #4F9900;
    }
    .van-cell__title {
      flex: 1.5;
    }
    .van-cell__value {
      flex: 2;
    }
    ._title {
      font-size: 28rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.9);
      margin-left: 30rpx;
      position: relative;
      flex: 1.5;
      .typeValue {
        position: absolute;
        right: 0;
        top: 0rpx;
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
      }
      view {
        &:last-child {
          font-size: 28rpx;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8);
          position: relative;
          top: -6rpx;
        }
      }
    }
  }
  .back-icon,
  .home-icon {
    width: 28px;
    height: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
  }
  .back-icon {
    left: 16px;
  }
  .home-icon {
    left: 44px;
  }
  .back-icon img {
    width: 28px;
    height: 28px;
    margin: auto;
  }
  .home-icon img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
  .nav-title,
  .nav-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 0;
    font-weight: bold;
  }
  .container {
    background-color: transparent;
  }
  .content {
    width: 750rpx;
    margin-top: 40rpx;
  }
  /* Home videos */
  .btn {
    position: relative;
    height: 60rpx;
    width: 60rpx;
  }
}

.scan {
  position: fixed;
  width: 80rpx;
  height: 80rpx;
  border-radius: 200rpx;
  background: #4F9900;
  right: 30rpx;
  bottom: 30rpx;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  // left: 50%;
  // transform: translate(-50%);
  cover-image {
    width: 50rpx;
    height: 50rpx;
  }
}