page{
  overflow: hidden;
}
.login-container{
  width: 100%;
  padding: 0.1rpx;
  .logo{
    margin-top:142rpx;
    text-align: center;
  }
  ._title{
    font-size: 34rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 34rpx;
    text-align: center;
  }
  ._input{
    margin: 62rpx 50rpx;
  }
  .btn-login {
    width: 650rpx;
    background: #D9F25F;
    border-radius: 12rpx;
    margin-top: 60rpx;
    font-size: 34rpx;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    &:active{
      opacity: .65;
      background:#dcf178;
    }
  }
  ._bottom{
    position: fixed;
    width: 750rpx;
    text-align: center;
    bottom: 122rpx;
    font-size: 28rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #4F9900;
  }
}
