.setPrice-container {
    width: 100%;
    // .van-tabs{
    //   padding-top:30rpx;
    //   background: #fff;
    // }
    // .van-tabs__scroll {
    //   width: 65%;
    // }
    .van-popup {
      .van-cell {
          background-color: transparent;
      }
  }
    .stitle {
        padding-top: 40rpx;
        padding-left: 52rpx;
        font-size: 28rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.9);
        padding-bottom: 40rpx;
    }
    .preview {
        overflow: hidden;
        padding: 48rpx 0;
        .flex-item:first-child {
            display: flex;
            align-items: center;
            flex: 200rpx 0 0;
            text {
                font-size: 28rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.9);
                margin-left: 52rpx;
            }
        }
        .flex-item:last-child {
            flex: 1
        }
    }
    .list {
        border-top: 2rpx solid #efefef;
        .cellgroup {
            .van-cell {
                height: 158rpx;
            }
        }
        .van-cell {
            height: 110rpx;
            align-items: center;
            border-bottom: 1rpx solid #efefef;
            padding: 0 16px;
            padding-left: 52rpx;
            padding-right: 30rpx;
            color: rgba(0, 0, 0, 0.9);
            font-size: 28rpx;
            &:first-child {
                border-top: none;
            }
            .van-cell__right-icon-wrap {
                color: #bebebe;
            }
            .van-cell__value,
            .van-cell__title {
                font-size: 28rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.9);
            }
            .van-cell__title {
                font-weight: 500!important;
            }
        }
        .cellgroup2 {
            .van-cell {
                border-bottom: none;
            }
        }
        ._money {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #4F9900;
        }
        ._title {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
            display: flex;
            align-items: center;
            view {
                &:last-child {
                    font-size: 28rpx;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.8);
                    position: relative;
                    top: -6rpx;
                }
            }
        }
    }
    .tips {
        margin: 38rpx 50rpx 30rpx 52rpx;
        .flex-item:first-child {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
        }
        .flex-item:last-child {
            font-size: 24rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.3);
            text-align: right;
        }
    }
    .cards {
        ._card {
            width: 652rpx;
            height: 187rpx;
            background: #F2F2F2;
            border-radius: 8rpx;
            &.c2 {
                margin-top: 32rpx;
                text-align: center;
                border: 4rpx dashed rgba(0, 0, 0, 0.2);
                margin-bottom: 30rpx;
                image {
                    width: 72rpx;
                    height: 72rpx;
                    margin-top: 39rpx;
                }
                view {
                    color: rgba(0, 0, 0, 0.2);
                    font-size: 24rpx;
                }
            }
            &.c3 {
                position: relative;
                background: none;
                ._bg {
                    width: 100%;
                    height: 187rpx;
                    position: absolute;
                    z-index: 0;
                }
                ._left {
                    flex: 420rpx 0 0;
                    padding: 26rpx;
                    color: rgba(0, 0, 0, 0.9);
                    font-size: 24rpx;
                    position: relative;
                    ._price {
                        position: absolute;
                        top: 26rpx;
                        right: 35rpx;
                        color: #6236FF;
                        font-size: 28rpx;
                    }
                    ._first {
                        font-size: 28rpx;
                    }
                    ._middle {
                        margin-top: 14rpx;
                        margin-bottom: 20rpx;
                        font-size: 24rpx;
                    }
                    text {
                        color: #6236FF;
                        font-size: 24rpx;
                    }
                    ._last {
                        font-size: 20rpx;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
                ._right {
                    text-align: center;
                    flex: 1;
                    position: relative;
                    z-index: 2;
                    image {
                        width: 30rpx;
                        height: 30rpx;
                        margin-top: 60rpx;
                    }
                    view {
                        font-size: 24rpx;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #000;
                    }
                }
            }
        }
    }
    ._change {
        width: 208rpx;
        height: 60rpx;
        background: #D9F25F;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 70rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        &:active {
            opacity: .65;
            background: #dcf178;
        }
        &.del {
            font-size: 24rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #E02020;
            height: auto;
            background: none;
            margin-top: 30rpx;
        }
        .van-icon {
            margin-right: 8rpx;
            font-weight: bold;
        }
    }
}