.members-container {
    width: 100%;
    .list {
        border-top: 2rpx solid #efefef;
        .cellgroup {
            .van-cell {
                height: 158rpx;
            }
        }
        .van-cell {
            height: 106rpx;
            align-items: center;
            border-bottom: 1rpx solid #efefef;
            padding: 0 16px;
            padding-left: 52rpx;
            padding-right: 35rpx;
            .van-cell__right-icon-wrap {
                color: #bebebe;
            }
            .all {
                font-size: 28rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.9);
                text:last-child {
                    font-weight: 600;
                    color: #4F9900;
                    margin-left: 12rpx;
                }
            }
            .van-cell__value {
                font-size: 28rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.9);
            }
        }
        ._money {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #4F9900;
        }
        ._title {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
            view {
                &:last-child {
                    font-size: 28rpx;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.8);
                    position: relative;
                    top: -6rpx;
                }
            }
        }
    }
    ._card {
        width: 652rpx;
        height: 187rpx;
        background: #F2F2F2;
        border-radius: 8rpx;
        margin: 0 auto;
        margin-top: 14rpx;
        &:first-child {
            margin-top: 22rpx;
        }
        &.c2 {
            margin-top: 32rpx;
            text-align: center;
            border: 4rpx dashed rgba(0, 0, 0, 0.2);
            margin-bottom: 30rpx;
            image {
                width: 72rpx;
                height: 72rpx;
                margin-top: 39rpx;
            }
            view {
                color: rgba(0, 0, 0, 0.2);
                font-size: 24rpx;
            }
        }
        &.c3 {
            position: relative;
            background: none;
            ._bg {
                width: 100%;
                height: 187rpx;
                position: absolute;
                z-index: 0;
            }
            ._left {
                flex: 420rpx 0 0;
                padding: 26rpx;
                color: rgba(0, 0, 0, 0.9);
                font-size: 24rpx;
                position: relative;
                ._price {
                    position: absolute;
                    top: 26rpx;
                    right: 35rpx;
                    color: #6236FF;
                    font-size: 28rpx;
                }
                ._first {
                    font-size: 28rpx;
                }
                ._middle {
                    margin-top: 14rpx;
                    margin-bottom: 20rpx;
                    font-size: 24rpx;
                }
                text {
                    color: #6236FF;
                    font-size: 24rpx;
                }
                ._last {
                    font-size: 20rpx;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            ._right {
                text-align: center;
                flex: 1;
                position: relative;
                z-index: 2;
                image {
                    width: 30rpx;
                    height: 30rpx;
                    margin-top: 60rpx;
                }
                view {
                    font-size: 24rpx;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #6236FF;
                }
            }
        }
    }
    .delete {
        margin-top: 76rpx;
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #E02020;
        text-align: center;
    }
}