.page-orders {
    padding-bottom: 100rpx;
    ._green {
        width: 5rpx;
        height: 5rpx;
        background: #4F9900;
        border-radius: 5rpx;
        position: absolute;
        left: 20rpx;
    }
    .nav {
        position: fixed;
        width: 750rpx;
        top: 0;
        left: 0;
        z-index: 100;
        background: #FDFDFD;
        .van-tabs {
            width: 342rpx;
            height: 92rpx;
            position: absolute;
            left: 35rpx;
        }
        .van-tabs .van-tab {
            font-size: 28rpx;
            color: rgba(0, 0, 0, 0.8);
            padding: 0;
        }
        .van-tabs .van-tab--active {
            font-size: 30rpx;
            color: rgba(0, 0, 0, 1);
        }
        .van-tabs .van-tabs__scroll {
            background-color: #FDFDFD;
        }
        .van-tabs__wrap {
            width: 362rpx;
            background-color: #FDFDFD;
        }
    }
    .van-tabs__wrap {
        width: 100%;
        background-color: #FDFDFD;
    }
    .navbar {
        position: relative;
        width: 100%;
        // border-bottom: 1px solid #cecece;
    }
    .list {
        border-top: 2rpx solid #efefef;
        .xtitle {
            padding-left: 52rpx;
            padding-top: 62rpx;
            font-size: 24rpx;
            font-family: SFCompactDisplay-Regular, SFCompactDisplay;
            font-weight: 400;
            color: #4F9900;
            &.x2 {
                padding-top: 76rpx;
            }
            .flex {
                align-items: center;
                .van-icon {
                    margin-right: 10rpx;
                }
                .fresh {
                    display: flex;
                    align-items: center;
                }
            }
            text {
                font-size: 28rpx;
                color: rgba(0, 0, 0, 0.9);
                margin-right: 26rpx;
            }
        }
        .van-cell {
            height: 144rpx;
            align-items: center;
            border-bottom: 1rpx solid #efefef;
            padding: 0 16px;
            padding-left: 50rpx;
            .van-cell__right-icon-wrap {
                color: #bebebe;
            }
            .newValue {
                font-size: 28rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.9);
                text {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    &:first-child {
                        color: #4F9900;
                    }
                    &:last-child {
                        font-size: 24rpx;
                        color: rgba(0, 0, 0, 0.9);
                    }
                }
            }
        }
        ._money {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #4F9900;
        }
        .van-cell__title {
            flex: 1.5;
        }
        .van-cell__value {
            flex: 1.2;
        }
        ._title {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
            margin-left: 30rpx;
            position: relative;
            flex: 1.5;
            .typeValue {
                position: absolute;
                right: 0;
                top: 0rpx;
                font-size: 28rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.9);
            }
            view {
                &:last-child {
                    font-size: 28rpx;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.8);
                    position: relative;
                    top: -6rpx;
                }
            }
        }
    }
}