
.select-court{
  width: 100%;
  ._item{
    height: 144rpx;
    padding: 42rpx;
    padding-right: 20rpx;
    // border-bottom: 1px solid #000;
    ._content{
      ._img{
        flex: 145rpx 0 0;
        margin-right: 28rpx;
      }
      ._middle{
        flex: 400rpx 0 0;
        position: relative;
        .name{
          font-size: 28rpx;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.9);
        }
        .address{
          font-size: 24rpx;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
        }
        .status{
          position: absolute;
          bottom: 7rpx;
          display: flex;
          align-items: center;
          left: 0;
          .tip{
            font-size: 24rpx;
            font-weight: 600;
            color: #000;
            margin-right: 14rpx;
          }
          .van-icon{
            margin-right: 6rpx;
          }
          .tip2{
            font-size: 24rpx;
            font-weight: 500;
            color: #6DD400;
            margin-left: 8rpx;
          }
        }
      }
      ._arrow{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}