page {
    background: #f7f7f7;
}

.setting-container {
    // background: #fff;
    width: 100%;
    .list {
        border-top: 2rpx solid #efefef;
        .cellgroup {
            .van-cell {
                height: 158rpx;
            }
        }
        .van-cell {
            height: 106rpx;
            align-items: center;
            // background: transparent;
            border-bottom: 1rpx solid #efefef;
            padding: 0 16px;
            padding-left: 52rpx;
            padding-right: 30rpx;
            color: rgba(0, 0, 0, 0.9);
            font-size: 28rpx;
            .van-cell__right-icon-wrap {
                color: #bebebe;
            }
            .van-uploader {
                .van-uploader__preview {
                    width: 80rpx!important;
                    height: 80rpx!important;
                    border-radius: 80rpx;
                }
            }
            .all {
                font-size: 28rpx;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.9);
                text:last-child {
                    font-weight: 600;
                    color: #4F9900;
                    margin-left: 12rpx;
                }
            }
            .van-cell__value,
            .van-cell__title {
                font-size: 28rpx;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.9);
            }
            .van-cell__title {
                font-weight: 500!important;
            }
            .van-cell__value {
                flex: 3
            }
        }
        .cellgroup2 {
            .van-cell {
                border-bottom: none;
            }
        }
        ._money {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #4F9900;
        }
        ._title {
            font-size: 28rpx;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.9);
            display: flex;
            align-items: center;
            view {
                &:last-child {
                    font-size: 28rpx;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.8);
                    position: relative;
                    top: -6rpx;
                }
            }
        }
    }
    .exit {
        margin-top: 48rpx;
        font-size: 24rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #E02020;
        text-align: center;
    }
    ._change {
        width: 208rpx;
        height: 60rpx;
        background: #D9F25F;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 76rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
    }
    .van-popup {
        .upload {
            display: flex;
            justify-content: center;
        }
    }
}