._reserve{
  padding-bottom: 180rpx;
  .nav {
    position: fixed;
    width: 750rpx;
    top: 0;
    left: 0;
    z-index: 100;
    background: #FDFDFD;
  }
  .readys{
    width: 432rpx;
    margin: 0 auto;
    margin-top: 300rpx;
    text-align: center;
    font-size: 34rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    line-height: 48rpx;
    image{
      height: 344rpx;
      width: 100%;
    } 
  }
  .navbar {
    position: relative;
    width: 100%;
    .date{
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: 50rpx;
      font-size: 34rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.9);
      .van-icon{
        margin-left: 25rpx;
        position: relative;
        left: -14rpx;
      }
    }
  }
  .reserve-container{
    width: 100%;
    // padding-bottom: 78rpx;
    padding-bottom: 50rpx;
    background: #f7f7f7;
    .selectTime{
      padding: 54rpx 38rpx 46rpx 50rpx;
      height: 49rpx;
      align-items: center;
      .flex-item{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .flex-item:first-child{
        flex: 51rpx 0 0;
      }
      .time{
        text-align: center;
        font-size: 30rpx;
        font-family: DINAlternate-Bold, DINAlternate;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.9);
      }
      .flex-item:last-child{
        flex: 51rpx 0 0;
      }
      .half{
        font-size: 28rpx;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #999;
        width: 80%;
        .flex-item{
          display: flex;
          flex-direction: column;
          flex:1;
          justify-content: center;
        }
      }
    }
    .times{
      padding-left: 30rpx;
      padding-right: 106rpx;
      font-size: 28rpx;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.9);
      .flex-item{
        flex: 94rpx 0rpx 0;
        height: 98rpx;
        width: 94rpx;
        border: 2rpx solid #999;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &.spe{
          border:none;
          font-size: 28rpx;
          font-family: DINCond-Medium, DINCond;
          font-weight: 500;
          color: #515151;
        }
        &.noborder{
          border-bottom: none;
          border-right: none;
        }
        &:last-child{
          border-bottom: none;
        }
        ._time{
          position: absolute;
          top: -10rpx;
        }
        .__money{
          width: 80rpx;
          height: 80rpx;
          background: #D9F25F;;
          border-radius: 4rpx;
          font-size: 24rpx;
          font-family: DINCond-Medium, DINCond;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.9);
          display: flex;
          justify-content: center;
          align-items: center;
          .van-image{
            position: relative;
            top:5rpx;
          }
          &.active{
            width: 56rpx;
            height: 56rpx;
            background: #6236FF;
            box-shadow: -4rpx -4rpx 8rpx 0px rgba(142,110,255,1), 4rpx 4rpx 8rpx 0px rgba(51,13,187,1);
            border-radius: 2px;
            color:#fff;
          }
        }
      }
    }
  }
}